@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #1d1d1d;
  --orange: #ff3b11;
  --white: #fdfdfd;
  --black: #1a1a1a;
  --gray: #252525;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-onest), sans-serif;
  @apply overflow-x-hidden;
}

.font-grandis {
  font-family: "Grandis Extended", sans-serif;
}

.container {
  @apply w-full max-w-[1200px] px-4 mx-auto;
}

.nav-link {
  @apply hover:text-[var(--orange)] transition-all duration-300 cursor-pointer;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
