@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #1d1d1d;
  --orange: #ff3b11;
  --white: #fdfdfd;
  --black: #1a1a1a;
}

body {
  font-family: var(--font-onest), sans-serif;
  @apply overflow-x-hidden;
}

.container {
  @apply w-[1200px] mx-auto;
}

.nav-link {
  @apply hover:text-[var(--orange)] transition-all duration-300 cursor-pointer;
}

.yellow-button {
  @apply flex bg-[var(--yellow)] font-bold w-[322px] h-[60px] items-center justify-center transition-all duration-400 hover:bg-black hover:text-white;
}
