.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: #0f0f0f;
}

.loading-logo {
  animation: spinY 2s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
